In [ ]:
#Data wrangling is a broad term used, often informally, to describe the process of
#transforming raw data to a clean and organized format ready for use. For us, data
#wrangling is only one step in preprocessing our data, but it is an important step.

In [1]:
import pandas as pd   #Import the library
dataframe=pd.read_csv('Dataset/Titanic dataset.csv')  #Load the data
dataframe

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
5,6,28.0,8.4583,0,0,0,0,0,0,0,...,0,0,0,3,0,0,1.0,0,0,0
6,7,54.0,51.8625,0,0,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,0
7,8,2.0,21.0750,0,3,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
8,9,27.0,11.1333,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
9,10,14.0,30.0708,1,1,0,0,0,0,0,...,0,0,0,2,0,0,0.0,0,0,1
10,11,4.0,16.7000,1,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
11,12,58.0,26.5500,1,0,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
12,13,20.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
13,14,39.0,31.2750,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
14,15,14.0,7.8542,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
15,16,55.0,16.0000,1,0,0,0,0,0,0,...,0,0,0,2,0,0,2.0,0,0,1
16,17,2.0,29.1250,0,4,0,0,0,0,0,...,0,0,0,3,0,0,1.0,0,0,0
17,18,28.0,13.0000,0,0,0,0,0,0,0,...,0,0,0,2,0,0,2.0,0,0,1
18,19,31.0,18.0000,1,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
19,20,28.0,7.2250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,0.0,0,0,1
20,21,35.0,26.0000,0,0,0,0,0,0,0,...,0,0,0,2,0,0,2.0,0,0,0
21,22,34.0,13.0000,0,0,0,0,0,0,0,...,0,0,0,2,0,0,2.0,0,0,1
22,23,15.0,8.0292,1,0,0,0,0,0,0,...,0,0,0,3,0,0,1.0,0,0,1
23,24,28.0,35.5000,0,0,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
24,25,8.0,21.0750,1,3,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
25,26,38.0,31.3875,1,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
26,27,28.0,7.2250,0,0,0,0,0,0,0,...,0,0,0,3,0,0,0.0,0,0,0
27,28,19.0,263.0000,0,3,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,0
28,29,28.0,7.8792,1,0,0,0,0,0,0,...,0,0,0,3,0,0,1.0,0,0,1
29,30,28.0,7.8958,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,1280,21.0,7.7500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,1.0,0,0,0
1280,1281,6.0,21.0750,0,3,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1281,1282,23.0,93.5000,0,0,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,0
1282,1283,51.0,39.4000,1,0,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,0
1283,1284,13.0,20.2500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1284,1285,47.0,10.5000,0,0,0,0,0,0,0,...,0,0,0,2,0,0,2.0,0,0,0
1285,1286,29.0,22.0250,0,3,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1286,1287,18.0,60.0000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,0
1287,1288,24.0,7.2500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,1.0,0,0,0
1288,1289,48.0,79.2000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,0
1289,1290,22.0,7.7750,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1290,1291,31.0,7.7333,0,0,0,0,0,0,0,...,0,0,0,3,0,0,1.0,0,0,0
1291,1292,30.0,164.8667,1,0,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,0
1292,1293,38.0,21.0000,0,1,0,0,0,0,0,...,0,0,0,2,0,0,2.0,0,0,0
1293,1294,22.0,59.4000,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,0
1294,1295,17.0,47.1000,0,0,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,0
1295,1296,43.0,27.7208,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,0
1296,1297,20.0,13.8625,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0.0,0,0,0
1297,1298,23.0,10.5000,0,1,0,0,0,0,0,...,0,0,0,2,0,0,2.0,0,0,0
1298,1299,50.0,211.5000,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,0
1299,1300,28.0,7.7208,1,0,0,0,0,0,0,...,0,0,0,3,0,0,1.0,0,0,0
1300,1301,3.0,13.7750,1,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1301,1302,28.0,7.7500,1,0,0,0,0,0,0,...,0,0,0,3,0,0,1.0,0,0,0
1302,1303,37.0,90.0000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,1.0,0,0,0
1303,1304,28.0,7.7750,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1304,1305,28.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1305,1306,39.0,108.9000,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,0
1306,1307,38.5,7.2500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1307,1308,28.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1308,1309,28.0,22.3583,0,1,0,0,0,0,0,...,0,0,0,3,0,0,0.0,0,0,0

# What information it has?
The dataset has 12 columns related to passenger details, which are,

PassengerId: Passenger’s unique ID

Survived: Survival status of the passengers (0 = No; 1 = Yes)

Pclass: Passenger class (1 = First; 2 = Second; 3 = Third)

Name: Passenger’s name

Sex: Sex of the Passenger

Age: Age of the Passenger

SibSp: Number of siblings/spouses aboard

ParCh: Number of parents/children aboard

Ticket: Ticket number

Fare: Passenger fare

Cabin: Cabin

Embarked: Port of embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)

In [2]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 28 columns):
Passengerid    1309 non-null int64
Age            1309 non-null float64
Fare           1309 non-null float64
Sex            1309 non-null int64
sibsp          1309 non-null int64
zero           1309 non-null int64
zero.1         1309 non-null int64
zero.2         1309 non-null int64
zero.3         1309 non-null int64
zero.4         1309 non-null int64
zero.5         1309 non-null int64
zero.6         1309 non-null int64
Parch          1309 non-null int64
zero.7         1309 non-null int64
zero.8         1309 non-null int64
zero.9         1309 non-null int64
zero.10        1309 non-null int64
zero.11        1309 non-null int64
zero.12        1309 non-null int64
zero.13        1309 non-null int64
zero.14        1309 non-null int64
Pclass         1309 non-null int64
zero.15        1309 non-null int64
zero.16        1309 non-null int64
Embarked       1307 non-null float64
zero.17        1309 non-null int64
zero.18        1309 non-null int64
2urvived       1309 non-null int64
dtypes: float64(3), int64(25)
memory usage: 286.5 KB

In [3]:
#In datset above we found there are many columns with zero values,so we drop that columns as they are of no use.
dataframe.drop(['zero.1','zero.2','zero.3','zero.4','zero.5','zero.5','zero.6','zero.7','zero.8','zero.9','zero.10','zero.11','zero.12','zero.13','zero.14','zero.15','zero.16','zero.17','zero','zero.18'],axis=1,inplace=True)
#here axis=1 represents columns and axis=0 represents row or index also inplace =True make changes in the main dataset.
#So whenever now u call the dataset the above changes will be reflected.

In [4]:
dataframe

,Passengerid,Age,Fare,Sex,sibsp,Parch,Pclass,Embarked,2urvived
0,1,22.0,7.2500,0,1,0,3,2.0,0
1,2,38.0,71.2833,1,1,0,1,0.0,1
2,3,26.0,7.9250,1,0,0,3,2.0,1
3,4,35.0,53.1000,1,1,0,1,2.0,1
4,5,35.0,8.0500,0,0,0,3,2.0,0
5,6,28.0,8.4583,0,0,0,3,1.0,0
6,7,54.0,51.8625,0,0,0,1,2.0,0
7,8,2.0,21.0750,0,3,1,3,2.0,0
8,9,27.0,11.1333,1,0,2,3,2.0,1
9,10,14.0,30.0708,1,1,0,2,0.0,1
10,11,4.0,16.7000,1,1,1,3,2.0,1
11,12,58.0,26.5500,1,0,0,1,2.0,1
12,13,20.0,8.0500,0,0,0,3,2.0,0
13,14,39.0,31.2750,0,1,5,3,2.0,0
14,15,14.0,7.8542,1,0,0,3,2.0,0
15,16,55.0,16.0000,1,0,0,2,2.0,1
16,17,2.0,29.1250,0,4,1,3,1.0,0
17,18,28.0,13.0000,0,0,0,2,2.0,1
18,19,31.0,18.0000,1,1,0,3,2.0,0
19,20,28.0,7.2250,1,0,0,3,0.0,1
20,21,35.0,26.0000,0,0,0,2,2.0,0
21,22,34.0,13.0000,0,0,0,2,2.0,1
22,23,15.0,8.0292,1,0,0,3,1.0,1
23,24,28.0,35.5000,0,0,0,1,2.0,1
24,25,8.0,21.0750,1,3,1,3,2.0,0
25,26,38.0,31.3875,1,1,5,3,2.0,1
26,27,28.0,7.2250,0,0,0,3,0.0,0
27,28,19.0,263.0000,0,3,2,1,2.0,0
28,29,28.0,7.8792,1,0,0,3,1.0,1
29,30,28.0,7.8958,0,0,0,3,2.0,0
...,...,...,...,...,...,...,...,...,...
1279,1280,21.0,7.7500,0,0,0,3,1.0,0
1280,1281,6.0,21.0750,0,3,1,3,2.0,0
1281,1282,23.0,93.5000,0,0,0,1,2.0,0
1282,1283,51.0,39.4000,1,0,1,1,2.0,0
1283,1284,13.0,20.2500,0,0,2,3,2.0,0
1284,1285,47.0,10.5000,0,0,0,2,2.0,0
1285,1286,29.0,22.0250,0,3,1,3,2.0,0
1286,1287,18.0,60.0000,1,1,0,1,2.0,0
1287,1288,24.0,7.2500,0,0,0,3,1.0,0
1288,1289,48.0,79.2000,1,1,1,1,0.0,0
1289,1290,22.0,7.7750,0,0,0,3,2.0,0
1290,1291,31.0,7.7333,0,0,0,3,1.0,0
1291,1292,30.0,164.8667,1,0,0,1,2.0,0
1292,1293,38.0,21.0000,0,1,0,2,2.0,0
1293,1294,22.0,59.4000,1,0,1,1,0.0,0
1294,1295,17.0,47.1000,0,0,0,1,2.0,0
1295,1296,43.0,27.7208,0,1,0,1,0.0,0
1296,1297,20.0,13.8625,0,0,0,2,0.0,0
1297,1298,23.0,10.5000,0,1,0,2,2.0,0
1298,1299,50.0,211.5000,0,1,1,1,0.0,0
1299,1300,28.0,7.7208,1,0,0,3,1.0,0
1300,1301,3.0,13.7750,1,1,1,3,2.0,0
1301,1302,28.0,7.7500,1,0,0,3,1.0,0
1302,1303,37.0,90.0000,1,1,0,1,1.0,0
1303,1304,28.0,7.7750,1,0,0,3,2.0,0
1304,1305,28.0,8.0500,0,0,0,3,2.0,0
1305,1306,39.0,108.9000,1,0,0,1,0.0,0
1306,1307,38.5,7.2500,0,0,0,3,2.0,0
1307,1308,28.0,8.0500,0,0,0,3,2.0,0
1308,1309,28.0,22.3583,0,1,1,3,0.0,0

In [5]:
#We can also take a look at the number of rows and columns:(Show the dimensions)
dataframe.shape

(1309, 9)

In [6]:
#we can get descriptive statistics for any numeric columns using describe(Show Statistics)
dataframe.describe()

,Passengerid,Age,Fare,Sex,sibsp,Parch,Pclass,Embarked,2urvived
count,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1307.000000,1309.000000
mean,655.000000,29.503186,33.281086,0.355997,0.498854,0.385027,2.294882,1.492731,0.261268
std,378.020061,12.905241,51.741500,0.478997,1.041658,0.865560,0.837836,0.814626,0.439494
min,1.000000,0.170000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,328.000000,22.000000,7.895800,0.000000,0.000000,0.000000,2.000000,1.000000,0.000000
50%,655.000000,28.000000,14.454200,0.000000,0.000000,0.000000,3.000000,2.000000,0.000000
75%,982.000000,35.000000,31.275000,1.000000,1.000000,0.000000,3.000000,2.000000,1.000000
max,1309.000000,80.000000,512.329200,1.000000,8.000000,9.000000,3.000000,2.000000,1.000000

In [7]:
#Use loc or iloc to select one or more rows or values:
#loc[] is used for selecting rows and columns by its label,here label means index for rows and feature names for columns.
#loc[] is inclusive of both sides
dataframe.loc[0:5,:]  #the comma represents rows on one side and columns on one side.The 0:5 represents rows from index 
                      # 0 to 5 and : indicates all columns.

   Passengerid   Age     Fare  Sex  sibsp  Parch  Pclass  Embarked  2urvived
0            1  22.0   7.2500    0      1      0       3       2.0         0
1            2  38.0  71.2833    1      1      0       1       0.0         1
2            3  26.0   7.9250    1      0      0       3       2.0         1
3            4  35.0  53.1000    1      1      0       1       2.0         1
4            5  35.0   8.0500    0      0      0       3       2.0         0
5            6  28.0   8.4583    0      0      0       3       1.0         0

In [8]:
#iloc[],here i stands for integer positions.
#iloc[] is exclusive of both sides.
dataframe.iloc[:,[0,3]]  # here [0,3] indicates column at position 0 and 3 and : represents all rows.

      Passengerid  Sex
0               1    0
1               2    1
2               3    1
3               4    1
4               5    0
...           ...  ...
1304         1305    0
1305         1306    1
1306         1307    0
1307         1308    0
1308         1309    0

[1309 rows x 2 columns]

In [9]:
#here we found that one of the column has spelling mistake so we can change the column name using below syntax.
dataframe.rename(columns={'2urvived':'Survived','Pclass':'Passenger Class'},inplace=True)
dataframe

,Passengerid,Age,Fare,Sex,sibsp,Parch,Passenger Class,Embarked,Survived
0,1,22.0,7.2500,0,1,0,3,2.0,0
1,2,38.0,71.2833,1,1,0,1,0.0,1
2,3,26.0,7.9250,1,0,0,3,2.0,1
3,4,35.0,53.1000,1,1,0,1,2.0,1
4,5,35.0,8.0500,0,0,0,3,2.0,0
5,6,28.0,8.4583,0,0,0,3,1.0,0
6,7,54.0,51.8625,0,0,0,1,2.0,0
7,8,2.0,21.0750,0,3,1,3,2.0,0
8,9,27.0,11.1333,1,0,2,3,2.0,1
9,10,14.0,30.0708,1,1,0,2,0.0,1
10,11,4.0,16.7000,1,1,1,3,2.0,1
11,12,58.0,26.5500,1,0,0,1,2.0,1
12,13,20.0,8.0500,0,0,0,3,2.0,0
13,14,39.0,31.2750,0,1,5,3,2.0,0
14,15,14.0,7.8542,1,0,0,3,2.0,0
15,16,55.0,16.0000,1,0,0,2,2.0,1
16,17,2.0,29.1250,0,4,1,3,1.0,0
17,18,28.0,13.0000,0,0,0,2,2.0,1
18,19,31.0,18.0000,1,1,0,3,2.0,0
19,20,28.0,7.2250,1,0,0,3,0.0,1
20,21,35.0,26.0000,0,0,0,2,2.0,0
21,22,34.0,13.0000,0,0,0,2,2.0,1
22,23,15.0,8.0292,1,0,0,3,1.0,1
23,24,28.0,35.5000,0,0,0,1,2.0,1
24,25,8.0,21.0750,1,3,1,3,2.0,0
25,26,38.0,31.3875,1,1,5,3,2.0,1
26,27,28.0,7.2250,0,0,0,3,0.0,0
27,28,19.0,263.0000,0,3,2,1,2.0,0
28,29,28.0,7.8792,1,0,0,3,1.0,1
29,30,28.0,7.8958,0,0,0,3,2.0,0
...,...,...,...,...,...,...,...,...,...
1279,1280,21.0,7.7500,0,0,0,3,1.0,0
1280,1281,6.0,21.0750,0,3,1,3,2.0,0
1281,1282,23.0,93.5000,0,0,0,1,2.0,0
1282,1283,51.0,39.4000,1,0,1,1,2.0,0
1283,1284,13.0,20.2500,0,0,2,3,2.0,0
1284,1285,47.0,10.5000,0,0,0,2,2.0,0
1285,1286,29.0,22.0250,0,3,1,3,2.0,0
1286,1287,18.0,60.0000,1,1,0,1,2.0,0
1287,1288,24.0,7.2500,0,0,0,3,1.0,0
1288,1289,48.0,79.2000,1,1,1,1,0.0,0
1289,1290,22.0,7.7750,0,0,0,3,2.0,0
1290,1291,31.0,7.7333,0,0,0,3,1.0,0
1291,1292,30.0,164.8667,1,0,0,1,2.0,0
1292,1293,38.0,21.0000,0,1,0,2,2.0,0
1293,1294,22.0,59.4000,1,0,1,1,0.0,0
1294,1295,17.0,47.1000,0,0,0,1,2.0,0
1295,1296,43.0,27.7208,0,1,0,1,0.0,0
1296,1297,20.0,13.8625,0,0,0,2,0.0,0
1297,1298,23.0,10.5000,0,1,0,2,2.0,0
1298,1299,50.0,211.5000,0,1,1,1,0.0,0
1299,1300,28.0,7.7208,1,0,0,3,1.0,0
1300,1301,3.0,13.7750,1,1,1,3,2.0,0
1301,1302,28.0,7.7500,1,0,0,3,1.0,0
1302,1303,37.0,90.0000,1,1,0,1,1.0,0
1303,1304,28.0,7.7750,1,0,0,3,2.0,0
1304,1305,28.0,8.0500,0,0,0,3,2.0,0
1305,1306,39.0,108.9000,1,0,0,1,0.0,0
1306,1307,38.5,7.2500,0,0,0,3,2.0,0
1307,1308,28.0,8.0500,0,0,0,3,2.0,0
1308,1309,28.0,22.3583,0,1,1,3,0.0,0

In [10]:
#This syntax will let you know the different categories in that particular column and its data types
dataframe['Sex'].unique()

array([0, 1], dtype=int64)

In [11]:
#value_counts will display all unique values with the number of times
#each value appears:
dataframe['Sex'].value_counts()

0    843
1    466
Name: Sex, dtype: int64

In [13]:
#Here we want to know that how many womens are there in the titanic.This is a single condition we can use multiple condition to
dataframe[(dataframe['Sex']==1) & (dataframe['Age']<=45)]
#Here we want to know that how many female are having age greater than equal to 65.
#Note,here 1 represents Female and 0 represents male

,Passengerid,Age,Fare,Sex,sibsp,Parch,Passenger Class,Embarked,Survived
1,2,38.00,71.2833,1,1,0,1,0.0,1
2,3,26.00,7.9250,1,0,0,3,2.0,1
3,4,35.00,53.1000,1,1,0,1,2.0,1
8,9,27.00,11.1333,1,0,2,3,2.0,1
9,10,14.00,30.0708,1,1,0,2,0.0,1
10,11,4.00,16.7000,1,1,1,3,2.0,1
14,15,14.00,7.8542,1,0,0,3,2.0,0
18,19,31.00,18.0000,1,1,0,3,2.0,0
19,20,28.00,7.2250,1,0,0,3,0.0,1
22,23,15.00,8.0292,1,0,0,3,1.0,1
24,25,8.00,21.0750,1,3,1,3,2.0,0
25,26,38.00,31.3875,1,1,5,3,2.0,1
28,29,28.00,7.8792,1,0,0,3,1.0,1
31,32,28.00,146.5208,1,1,0,1,0.0,1
32,33,28.00,7.7500,1,0,0,3,1.0,1
38,39,18.00,18.0000,1,2,0,3,2.0,0
39,40,14.00,11.2417,1,1,0,3,0.0,1
40,41,40.00,9.4750,1,1,0,3,2.0,0
41,42,27.00,21.0000,1,1,0,2,2.0,0
43,44,3.00,41.5792,1,1,2,2,0.0,1
44,45,19.00,7.8792,1,0,0,3,1.0,1
47,48,28.00,7.7500,1,0,0,3,1.0,1
49,50,18.00,17.8000,1,1,0,3,2.0,0
53,54,29.00,26.0000,1,1,0,2,2.0,1
56,57,21.00,10.5000,1,0,0,2,2.0,1
58,59,5.00,27.7500,1,1,2,2,2.0,1
61,62,38.00,80.0000,1,0,0,1,NaN,1
66,67,29.00,10.5000,1,0,0,2,2.0,1
68,69,17.00,7.9250,1,4,2,3,2.0,1
71,72,16.00,46.9000,1,5,2,3,2.0,0
...,...,...,...,...,...,...,...,...,...
1215,1216,39.00,211.3375,1,0,0,1,2.0,0
1217,1218,12.00,39.0000,1,2,1,2,2.0,0
1224,1225,19.00,15.7417,1,1,1,3,0.0,0
1236,1237,16.00,7.6500,1,0,0,3,2.0,0
1238,1239,38.00,7.2292,1,0,0,3,0.0,0
1240,1241,31.00,21.0000,1,0,0,2,2.0,0
1241,1242,45.00,63.3583,1,0,1,1,0.0,0
1245,1246,0.17,20.5750,1,1,2,3,2.0,0
1250,1251,30.00,15.5500,1,1,0,3,2.0,0
1252,1253,24.00,37.0042,1,1,1,2,0.0,0
1253,1254,31.00,21.0000,1,0,0,2,2.0,0
1255,1256,25.00,55.4417,1,1,0,1,0.0,0
1256,1257,28.00,69.5500,1,1,9,3,2.0,0
1258,1259,22.00,39.6875,1,0,0,3,2.0,0
1259,1260,45.00,59.4000,1,0,1,1,0.0,0
1262,1263,31.00,134.5000,1,0,0,1,0.0,0
1266,1267,45.00,262.3750,1,0,0,1,0.0,0
1267,1268,22.00,8.6625,1,2,0,3,2.0,0
1273,1274,28.00,14.5000,1,0,0,3,2.0,0
1274,1275,19.00,16.1000,1,1,0,3,2.0,0
1276,1277,24.00,65.0000,1,1,2,2,2.0,0
1286,1287,18.00,60.0000,1,1,0,1,2.0,0
1291,1292,30.00,164.8667,1,0,0,1,2.0,0
1293,1294,22.00,59.4000,1,0,1,1,0.0,0
1299,1300,28.00,7.7208,1,0,0,3,1.0,0
1300,1301,3.00,13.7750,1,1,1,3,2.0,0
1301,1302,28.00,7.7500,1,0,0,3,1.0,0
1302,1303,37.00,90.0000,1,1,0,1,1.0,0
1303,1304,28.00,7.7750,1,0,0,3,2.0,0
1305,1306,39.00,108.9000,1,0,0,1,0.0,0

In [14]:
#pandas’ replace is an easy way to find and replace values. For example, we can
#replace any instance of "1" in the Sex column with "female":
dataframe['Sex'].replace([1,0],['Woman','Man'],inplace=True)
dataframe
#Here we only replacing the single column values.

,Passengerid,Age,Fare,Sex,sibsp,Parch,Passenger Class,Embarked,Survived
0,1,22.0,7.2500,Man,1,0,3,2.0,0
1,2,38.0,71.2833,Woman,1,0,1,0.0,1
2,3,26.0,7.9250,Woman,0,0,3,2.0,1
3,4,35.0,53.1000,Woman,1,0,1,2.0,1
4,5,35.0,8.0500,Man,0,0,3,2.0,0
5,6,28.0,8.4583,Man,0,0,3,1.0,0
6,7,54.0,51.8625,Man,0,0,1,2.0,0
7,8,2.0,21.0750,Man,3,1,3,2.0,0
8,9,27.0,11.1333,Woman,0,2,3,2.0,1
9,10,14.0,30.0708,Woman,1,0,2,0.0,1
10,11,4.0,16.7000,Woman,1,1,3,2.0,1
11,12,58.0,26.5500,Woman,0,0,1,2.0,1
12,13,20.0,8.0500,Man,0,0,3,2.0,0
13,14,39.0,31.2750,Man,1,5,3,2.0,0
14,15,14.0,7.8542,Woman,0,0,3,2.0,0
15,16,55.0,16.0000,Woman,0,0,2,2.0,1
16,17,2.0,29.1250,Man,4,1,3,1.0,0
17,18,28.0,13.0000,Man,0,0,2,2.0,1
18,19,31.0,18.0000,Woman,1,0,3,2.0,0
19,20,28.0,7.2250,Woman,0,0,3,0.0,1
20,21,35.0,26.0000,Man,0,0,2,2.0,0
21,22,34.0,13.0000,Man,0,0,2,2.0,1
22,23,15.0,8.0292,Woman,0,0,3,1.0,1
23,24,28.0,35.5000,Man,0,0,1,2.0,1
24,25,8.0,21.0750,Woman,3,1,3,2.0,0
25,26,38.0,31.3875,Woman,1,5,3,2.0,1
26,27,28.0,7.2250,Man,0,0,3,0.0,0
27,28,19.0,263.0000,Man,3,2,1,2.0,0
28,29,28.0,7.8792,Woman,0,0,3,1.0,1
29,30,28.0,7.8958,Man,0,0,3,2.0,0
...,...,...,...,...,...,...,...,...,...
1279,1280,21.0,7.7500,Man,0,0,3,1.0,0
1280,1281,6.0,21.0750,Man,3,1,3,2.0,0
1281,1282,23.0,93.5000,Man,0,0,1,2.0,0
1282,1283,51.0,39.4000,Woman,0,1,1,2.0,0
1283,1284,13.0,20.2500,Man,0,2,3,2.0,0
1284,1285,47.0,10.5000,Man,0,0,2,2.0,0
1285,1286,29.0,22.0250,Man,3,1,3,2.0,0
1286,1287,18.0,60.0000,Woman,1,0,1,2.0,0
1287,1288,24.0,7.2500,Man,0,0,3,1.0,0
1288,1289,48.0,79.2000,Woman,1,1,1,0.0,0
1289,1290,22.0,7.7750,Man,0,0,3,2.0,0
1290,1291,31.0,7.7333,Man,0,0,3,1.0,0
1291,1292,30.0,164.8667,Woman,0,0,1,2.0,0
1292,1293,38.0,21.0000,Man,1,0,2,2.0,0
1293,1294,22.0,59.4000,Woman,0,1,1,0.0,0
1294,1295,17.0,47.1000,Man,0,0,1,2.0,0
1295,1296,43.0,27.7208,Man,1,0,1,0.0,0
1296,1297,20.0,13.8625,Man,0,0,2,0.0,0
1297,1298,23.0,10.5000,Man,1,0,2,2.0,0
1298,1299,50.0,211.5000,Man,1,1,1,0.0,0
1299,1300,28.0,7.7208,Woman,0,0,3,1.0,0
1300,1301,3.0,13.7750,Woman,1,1,3,2.0,0
1301,1302,28.0,7.7500,Woman,0,0,3,1.0,0
1302,1303,37.0,90.0000,Woman,1,0,1,1.0,0
1303,1304,28.0,7.7750,Woman,0,0,3,2.0,0
1304,1305,28.0,8.0500,Man,0,0,3,2.0,0
1305,1306,39.0,108.9000,Woman,0,0,1,0.0,0
1306,1307,38.5,7.2500,Man,0,0,3,2.0,0
1307,1308,28.0,8.0500,Man,0,0,3,2.0,0
1308,1309,28.0,22.3583,Man,1,1,3,0.0,0

In [15]:
#This syntax will count the all column values
dataframe.count()

Passengerid        1309
Age                1309
Fare               1309
Sex                1309
sibsp              1309
Parch              1309
Passenger Class    1309
Embarked           1307
Survived           1309
dtype: int64

In [16]:
#This syntax will help to know the missing values in the dataset.
dataframe.isnull().sum()

Passengerid        0
Age                0
Fare               0
Sex                0
sibsp              0
Parch              0
Passenger Class    0
Embarked           2
Survived           0
dtype: int64

In [17]:
#S from we come to know that there is two missing values in Embarked column that is represented as below
dataframe[dataframe['Embarked'].isnull()]
#pandas uses NumPy’s NaN ("Not A Number") value to denote missing values.

,Passengerid,Age,Fare,Sex,sibsp,Parch,Passenger Class,Embarked,Survived
61,62,38.0,80.0,Woman,0,0,1,NaN,1
829,830,62.0,80.0,Woman,0,0,1,NaN,1

In [18]:
dataframe['Embarked'].value_counts()

2.0    914
0.0    270
1.0    123
Name: Embarked, dtype: int64

In [19]:
#The best way to delete a column is to use drop with the parameter axis=1 (i.e., the
#column axis):
dataframe.drop('Embarked',axis=1,inplace=True)
dataframe
#We can also use list of column names to drop mutiple columns

,Passengerid,Age,Fare,Sex,sibsp,Parch,Passenger Class,Survived
0,1,22.0,7.2500,Man,1,0,3,0
1,2,38.0,71.2833,Woman,1,0,1,1
2,3,26.0,7.9250,Woman,0,0,3,1
3,4,35.0,53.1000,Woman,1,0,1,1
4,5,35.0,8.0500,Man,0,0,3,0
5,6,28.0,8.4583,Man,0,0,3,0
6,7,54.0,51.8625,Man,0,0,1,0
7,8,2.0,21.0750,Man,3,1,3,0
8,9,27.0,11.1333,Woman,0,2,3,1
9,10,14.0,30.0708,Woman,1,0,2,1
10,11,4.0,16.7000,Woman,1,1,3,1
11,12,58.0,26.5500,Woman,0,0,1,1
12,13,20.0,8.0500,Man,0,0,3,0
13,14,39.0,31.2750,Man,1,5,3,0
14,15,14.0,7.8542,Woman,0,0,3,0
15,16,55.0,16.0000,Woman,0,0,2,1
16,17,2.0,29.1250,Man,4,1,3,0
17,18,28.0,13.0000,Man,0,0,2,1
18,19,31.0,18.0000,Woman,1,0,3,0
19,20,28.0,7.2250,Woman,0,0,3,1
20,21,35.0,26.0000,Man,0,0,2,0
21,22,34.0,13.0000,Man,0,0,2,1
22,23,15.0,8.0292,Woman,0,0,3,1
23,24,28.0,35.5000,Man,0,0,1,1
24,25,8.0,21.0750,Woman,3,1,3,0
25,26,38.0,31.3875,Woman,1,5,3,1
26,27,28.0,7.2250,Man,0,0,3,0
27,28,19.0,263.0000,Man,3,2,1,0
28,29,28.0,7.8792,Woman,0,0,3,1
29,30,28.0,7.8958,Man,0,0,3,0
...,...,...,...,...,...,...,...,...
1279,1280,21.0,7.7500,Man,0,0,3,0
1280,1281,6.0,21.0750,Man,3,1,3,0
1281,1282,23.0,93.5000,Man,0,0,1,0
1282,1283,51.0,39.4000,Woman,0,1,1,0
1283,1284,13.0,20.2500,Man,0,2,3,0
1284,1285,47.0,10.5000,Man,0,0,2,0
1285,1286,29.0,22.0250,Man,3,1,3,0
1286,1287,18.0,60.0000,Woman,1,0,1,0
1287,1288,24.0,7.2500,Man,0,0,3,0
1288,1289,48.0,79.2000,Woman,1,1,1,0
1289,1290,22.0,7.7750,Man,0,0,3,0
1290,1291,31.0,7.7333,Man,0,0,3,0
1291,1292,30.0,164.8667,Woman,0,0,1,0
1292,1293,38.0,21.0000,Man,1,0,2,0
1293,1294,22.0,59.4000,Woman,0,1,1,0
1294,1295,17.0,47.1000,Man,0,0,1,0
1295,1296,43.0,27.7208,Man,1,0,1,0
1296,1297,20.0,13.8625,Man,0,0,2,0
1297,1298,23.0,10.5000,Man,1,0,2,0
1298,1299,50.0,211.5000,Man,1,1,1,0
1299,1300,28.0,7.7208,Woman,0,0,3,0
1300,1301,3.0,13.7750,Woman,1,1,3,0
1301,1302,28.0,7.7500,Woman,0,0,3,0
1302,1303,37.0,90.0000,Woman,1,0,1,0
1303,1304,28.0,7.7750,Woman,0,0,3,0
1304,1305,28.0,8.0500,Man,0,0,3,0
1305,1306,39.0,108.9000,Woman,0,0,1,0
1306,1307,38.5,7.2500,Man,0,0,3,0
1307,1308,28.0,8.0500,Man,0,0,3,0
1308,1309,28.0,22.3583,Man,1,1,3,0

In [20]:
#We can also delete the column by using its column index
dataframe.drop(dataframe.columns[0],axis=1,inplace=True)
dataframe

       Age      Fare    Sex  sibsp  Parch  Passenger Class  Survived
0     22.0    7.2500    Man      1      0                3         0
1     38.0   71.2833  Woman      1      0                1         1
2     26.0    7.9250  Woman      0      0                3         1
3     35.0   53.1000  Woman      1      0                1         1
4     35.0    8.0500    Man      0      0                3         0
...    ...       ...    ...    ...    ...              ...       ...
1304  28.0    8.0500    Man      0      0                3         0
1305  39.0  108.9000  Woman      0      0                1         0
1306  38.5    7.2500    Man      0      0                3         0
1307  28.0    8.0500    Man      0      0                3         0
1308  28.0   22.3583    Man      1      1                3         0

[1309 rows x 7 columns]

In [ ]:
#NOTE:Do not use inplace argument as it make changes in the main dataset.
#This can lead to problems in more complex data processing pipelines
#because we are treating the DataFrames as mutable objects (which they technically
#are). I recommend treating DataFrames as immutable objects.

In [21]:
import pandas as pd   #Import the library
data=pd.read_csv('Dataset/Titanic dataset.csv')  #Load the data
data.head()  #Show the first five rows

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0

In [22]:
data.drop(['zero.1','zero.2','zero.3','zero.4','zero.5','zero.5','zero.6','zero.7','zero.8','zero.9','zero.10','zero.11','zero.12','zero.13','zero.14','zero.15','zero.16','zero.17','zero','zero.18'],axis=1,inplace=True)
data

,Passengerid,Age,Fare,Sex,sibsp,Parch,Pclass,Embarked,2urvived
0,1,22.0,7.2500,0,1,0,3,2.0,0
1,2,38.0,71.2833,1,1,0,1,0.0,1
2,3,26.0,7.9250,1,0,0,3,2.0,1
3,4,35.0,53.1000,1,1,0,1,2.0,1
4,5,35.0,8.0500,0,0,0,3,2.0,0
5,6,28.0,8.4583,0,0,0,3,1.0,0
6,7,54.0,51.8625,0,0,0,1,2.0,0
7,8,2.0,21.0750,0,3,1,3,2.0,0
8,9,27.0,11.1333,1,0,2,3,2.0,1
9,10,14.0,30.0708,1,1,0,2,0.0,1
10,11,4.0,16.7000,1,1,1,3,2.0,1
11,12,58.0,26.5500,1,0,0,1,2.0,1
12,13,20.0,8.0500,0,0,0,3,2.0,0
13,14,39.0,31.2750,0,1,5,3,2.0,0
14,15,14.0,7.8542,1,0,0,3,2.0,0
15,16,55.0,16.0000,1,0,0,2,2.0,1
16,17,2.0,29.1250,0,4,1,3,1.0,0
17,18,28.0,13.0000,0,0,0,2,2.0,1
18,19,31.0,18.0000,1,1,0,3,2.0,0
19,20,28.0,7.2250,1,0,0,3,0.0,1
20,21,35.0,26.0000,0,0,0,2,2.0,0
21,22,34.0,13.0000,0,0,0,2,2.0,1
22,23,15.0,8.0292,1,0,0,3,1.0,1
23,24,28.0,35.5000,0,0,0,1,2.0,1
24,25,8.0,21.0750,1,3,1,3,2.0,0
25,26,38.0,31.3875,1,1,5,3,2.0,1
26,27,28.0,7.2250,0,0,0,3,0.0,0
27,28,19.0,263.0000,0,3,2,1,2.0,0
28,29,28.0,7.8792,1,0,0,3,1.0,1
29,30,28.0,7.8958,0,0,0,3,2.0,0
...,...,...,...,...,...,...,...,...,...
1279,1280,21.0,7.7500,0,0,0,3,1.0,0
1280,1281,6.0,21.0750,0,3,1,3,2.0,0
1281,1282,23.0,93.5000,0,0,0,1,2.0,0
1282,1283,51.0,39.4000,1,0,1,1,2.0,0
1283,1284,13.0,20.2500,0,0,2,3,2.0,0
1284,1285,47.0,10.5000,0,0,0,2,2.0,0
1285,1286,29.0,22.0250,0,3,1,3,2.0,0
1286,1287,18.0,60.0000,1,1,0,1,2.0,0
1287,1288,24.0,7.2500,0,0,0,3,1.0,0
1288,1289,48.0,79.2000,1,1,1,1,0.0,0
1289,1290,22.0,7.7750,0,0,0,3,2.0,0
1290,1291,31.0,7.7333,0,0,0,3,1.0,0
1291,1292,30.0,164.8667,1,0,0,1,2.0,0
1292,1293,38.0,21.0000,0,1,0,2,2.0,0
1293,1294,22.0,59.4000,1,0,1,1,0.0,0
1294,1295,17.0,47.1000,0,0,0,1,2.0,0
1295,1296,43.0,27.7208,0,1,0,1,0.0,0
1296,1297,20.0,13.8625,0,0,0,2,0.0,0
1297,1298,23.0,10.5000,0,1,0,2,2.0,0
1298,1299,50.0,211.5000,0,1,1,1,0.0,0
1299,1300,28.0,7.7208,1,0,0,3,1.0,0
1300,1301,3.0,13.7750,1,1,1,3,2.0,0
1301,1302,28.0,7.7500,1,0,0,3,1.0,0
1302,1303,37.0,90.0000,1,1,0,1,1.0,0
1303,1304,28.0,7.7750,1,0,0,3,2.0,0
1304,1305,28.0,8.0500,0,0,0,3,2.0,0
1305,1306,39.0,108.9000,1,0,0,1,0.0,0
1306,1307,38.5,7.2500,0,0,0,3,2.0,0
1307,1308,28.0,8.0500,0,0,0,3,2.0,0
1308,1309,28.0,22.3583,0,1,1,3,0.0,0

In [23]:
#drop_duplicates defaults to only dropping rows that match
#perfectly across all columns. Under this condition, every row in our DataFrame, data
#frame, is actually unique.
data.drop_duplicates()

,Passengerid,Age,Fare,Sex,sibsp,Parch,Pclass,Embarked,2urvived
0,1,22.0,7.2500,0,1,0,3,2.0,0
1,2,38.0,71.2833,1,1,0,1,0.0,1
2,3,26.0,7.9250,1,0,0,3,2.0,1
3,4,35.0,53.1000,1,1,0,1,2.0,1
4,5,35.0,8.0500,0,0,0,3,2.0,0
5,6,28.0,8.4583,0,0,0,3,1.0,0
6,7,54.0,51.8625,0,0,0,1,2.0,0
7,8,2.0,21.0750,0,3,1,3,2.0,0
8,9,27.0,11.1333,1,0,2,3,2.0,1
9,10,14.0,30.0708,1,1,0,2,0.0,1
10,11,4.0,16.7000,1,1,1,3,2.0,1
11,12,58.0,26.5500,1,0,0,1,2.0,1
12,13,20.0,8.0500,0,0,0,3,2.0,0
13,14,39.0,31.2750,0,1,5,3,2.0,0
14,15,14.0,7.8542,1,0,0,3,2.0,0
15,16,55.0,16.0000,1,0,0,2,2.0,1
16,17,2.0,29.1250,0,4,1,3,1.0,0
17,18,28.0,13.0000,0,0,0,2,2.0,1
18,19,31.0,18.0000,1,1,0,3,2.0,0
19,20,28.0,7.2250,1,0,0,3,0.0,1
20,21,35.0,26.0000,0,0,0,2,2.0,0
21,22,34.0,13.0000,0,0,0,2,2.0,1
22,23,15.0,8.0292,1,0,0,3,1.0,1
23,24,28.0,35.5000,0,0,0,1,2.0,1
24,25,8.0,21.0750,1,3,1,3,2.0,0
25,26,38.0,31.3875,1,1,5,3,2.0,1
26,27,28.0,7.2250,0,0,0,3,0.0,0
27,28,19.0,263.0000,0,3,2,1,2.0,0
28,29,28.0,7.8792,1,0,0,3,1.0,1
29,30,28.0,7.8958,0,0,0,3,2.0,0
...,...,...,...,...,...,...,...,...,...
1279,1280,21.0,7.7500,0,0,0,3,1.0,0
1280,1281,6.0,21.0750,0,3,1,3,2.0,0
1281,1282,23.0,93.5000,0,0,0,1,2.0,0
1282,1283,51.0,39.4000,1,0,1,1,2.0,0
1283,1284,13.0,20.2500,0,0,2,3,2.0,0
1284,1285,47.0,10.5000,0,0,0,2,2.0,0
1285,1286,29.0,22.0250,0,3,1,3,2.0,0
1286,1287,18.0,60.0000,1,1,0,1,2.0,0
1287,1288,24.0,7.2500,0,0,0,3,1.0,0
1288,1289,48.0,79.2000,1,1,1,1,0.0,0
1289,1290,22.0,7.7750,0,0,0,3,2.0,0
1290,1291,31.0,7.7333,0,0,0,3,1.0,0
1291,1292,30.0,164.8667,1,0,0,1,2.0,0
1292,1293,38.0,21.0000,0,1,0,2,2.0,0
1293,1294,22.0,59.4000,1,0,1,1,0.0,0
1294,1295,17.0,47.1000,0,0,0,1,2.0,0
1295,1296,43.0,27.7208,0,1,0,1,0.0,0
1296,1297,20.0,13.8625,0,0,0,2,0.0,0
1297,1298,23.0,10.5000,0,1,0,2,2.0,0
1298,1299,50.0,211.5000,0,1,1,1,0.0,0
1299,1300,28.0,7.7208,1,0,0,3,1.0,0
1300,1301,3.0,13.7750,1,1,1,3,2.0,0
1301,1302,28.0,7.7500,1,0,0,3,1.0,0
1302,1303,37.0,90.0000,1,1,0,1,1.0,0
1303,1304,28.0,7.7750,1,0,0,3,2.0,0
1304,1305,28.0,8.0500,0,0,0,3,2.0,0
1305,1306,39.0,108.9000,1,0,0,1,0.0,0
1306,1307,38.5,7.2500,0,0,0,3,2.0,0
1307,1308,28.0,8.0500,0,0,0,3,2.0,0
1308,1309,28.0,22.3583,0,1,1,3,0.0,0

In [ ]:
#Similarly we can drop the duplicates in a particular column using below syntax
data.drop_duplicates(subset=['Sex'])
#It will display the first two rows and delete all the duplicates

In [ ]:
#We can display the last two rows if we want
data.drop_duplicates(subset=['Sex'],keep='last')

In [ ]:
#It is very common to have
#a DataFrame where each row is a person or an event and we want to group them
#according to some criterion and then calculate a statistic

In [24]:
#Group rows by the values of the column 'Sex', calculate mean
# of each group
data.groupby('Sex').mean()

,Passengerid,Age,Fare,sibsp,Parch,Pclass,Embarked,2urvived
Sex,,,,,,,,
0,658.766311,30.017888,26.140721,0.413998,0.247924,2.372479,1.552788,0.1293
1,648.186695,28.572082,46.198097,0.652361,0.633047,2.154506,1.383621,0.5000

In [25]:
#Notice Sex added after the groupby? That is because particular summary statistics
#are only meaningful to certain types of data. For example, while calculating the average
#age by gender makes sense, calculating the total age by gender does not. In this
#case we group the data into survived or not, then count the number of Sex (i.e.,
#passengers) in each group.
data.groupby('2urvived')['Sex'].count()

2urvived
0    967
1    342
Name: Sex, dtype: int64

In [29]:
data.groupby('Sex')['2urvived'].count()

Sex
Man      843
Woman    466
Name: 2urvived, dtype: int64

In [30]:
data.groupby(['Sex','2urvived'])['Age'].count()

Sex    2urvived
Man    0           734
       1           109
Woman  0           233
       1           233
Name: Age, dtype: int64

In [27]:
data['Sex'].replace([1,0],['Woman','Man'],inplace=True)
data

,Passengerid,Age,Fare,Sex,sibsp,Parch,Pclass,Embarked,2urvived
0,1,22.0,7.2500,Man,1,0,3,2.0,0
1,2,38.0,71.2833,Woman,1,0,1,0.0,1
2,3,26.0,7.9250,Woman,0,0,3,2.0,1
3,4,35.0,53.1000,Woman,1,0,1,2.0,1
4,5,35.0,8.0500,Man,0,0,3,2.0,0
5,6,28.0,8.4583,Man,0,0,3,1.0,0
6,7,54.0,51.8625,Man,0,0,1,2.0,0
7,8,2.0,21.0750,Man,3,1,3,2.0,0
8,9,27.0,11.1333,Woman,0,2,3,2.0,1
9,10,14.0,30.0708,Woman,1,0,2,0.0,1
10,11,4.0,16.7000,Woman,1,1,3,2.0,1
11,12,58.0,26.5500,Woman,0,0,1,2.0,1
12,13,20.0,8.0500,Man,0,0,3,2.0,0
13,14,39.0,31.2750,Man,1,5,3,2.0,0
14,15,14.0,7.8542,Woman,0,0,3,2.0,0
15,16,55.0,16.0000,Woman,0,0,2,2.0,1
16,17,2.0,29.1250,Man,4,1,3,1.0,0
17,18,28.0,13.0000,Man,0,0,2,2.0,1
18,19,31.0,18.0000,Woman,1,0,3,2.0,0
19,20,28.0,7.2250,Woman,0,0,3,0.0,1
20,21,35.0,26.0000,Man,0,0,2,2.0,0
21,22,34.0,13.0000,Man,0,0,2,2.0,1
22,23,15.0,8.0292,Woman,0,0,3,1.0,1
23,24,28.0,35.5000,Man,0,0,1,2.0,1
24,25,8.0,21.0750,Woman,3,1,3,2.0,0
25,26,38.0,31.3875,Woman,1,5,3,2.0,1
26,27,28.0,7.2250,Man,0,0,3,0.0,0
27,28,19.0,263.0000,Man,3,2,1,2.0,0
28,29,28.0,7.8792,Woman,0,0,3,1.0,1
29,30,28.0,7.8958,Man,0,0,3,2.0,0
...,...,...,...,...,...,...,...,...,...
1279,1280,21.0,7.7500,Man,0,0,3,1.0,0
1280,1281,6.0,21.0750,Man,3,1,3,2.0,0
1281,1282,23.0,93.5000,Man,0,0,1,2.0,0
1282,1283,51.0,39.4000,Woman,0,1,1,2.0,0
1283,1284,13.0,20.2500,Man,0,2,3,2.0,0
1284,1285,47.0,10.5000,Man,0,0,2,2.0,0
1285,1286,29.0,22.0250,Man,3,1,3,2.0,0
1286,1287,18.0,60.0000,Woman,1,0,1,2.0,0
1287,1288,24.0,7.2500,Man,0,0,3,1.0,0
1288,1289,48.0,79.2000,Woman,1,1,1,0.0,0
1289,1290,22.0,7.7750,Man,0,0,3,2.0,0
1290,1291,31.0,7.7333,Man,0,0,3,1.0,0
1291,1292,30.0,164.8667,Woman,0,0,1,2.0,0
1292,1293,38.0,21.0000,Man,1,0,2,2.0,0
1293,1294,22.0,59.4000,Woman,0,1,1,0.0,0
1294,1295,17.0,47.1000,Man,0,0,1,2.0,0
1295,1296,43.0,27.7208,Man,1,0,1,0.0,0
1296,1297,20.0,13.8625,Man,0,0,2,0.0,0
1297,1298,23.0,10.5000,Man,1,0,2,2.0,0
1298,1299,50.0,211.5000,Man,1,1,1,0.0,0
1299,1300,28.0,7.7208,Woman,0,0,3,1.0,0
1300,1301,3.0,13.7750,Woman,1,1,3,2.0,0
1301,1302,28.0,7.7500,Woman,0,0,3,1.0,0
1302,1303,37.0,90.0000,Woman,1,0,1,1.0,0
1303,1304,28.0,7.7750,Woman,0,0,3,2.0,0
1304,1305,28.0,8.0500,Man,0,0,3,2.0,0
1305,1306,39.0,108.9000,Woman,0,0,1,0.0,0
1306,1307,38.5,7.2500,Man,0,0,3,2.0,0
1307,1308,28.0,8.0500,Man,0,0,3,2.0,0
1308,1309,28.0,22.3583,Man,1,1,3,0.0,0

In [28]:
#apply is a great way to do data cleaning and wrangling
#Use apply to apply a built-in or custom function on every element in a column:
def uppercase(x):
    return x.upper()
data['Sex'].apply(uppercase)

0         MAN
1       WOMAN
2       WOMAN
3       WOMAN
4         MAN
        ...
1304      MAN
1305    WOMAN
1306      MAN
1307      MAN
1308      MAN
Name: Sex, Length: 1309, dtype: object